:root {
  --text-primary: rgb(175, 42, 42);
  --text-secondary: #7981906f;
  --text-warning: rgb(239, 15, 15);
}

.clickable {
  cursor: pointer;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(181, 176, 176, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
