:root {
  --text-primary: rgb(161, 29, 29);
  --text-secondary: #7a869a;
}

.clickable {
  cursor: pointer;
}

.spinner {
  border: 3px solid white;
  border-top: 3px solid var(--text-secondary);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
